body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Questrial", monospace;
	background-image: url('sparkle1.gif');
    background-size: 100% auto;
  }

	input, 
	select, 
	placeholder, 
	textarea {
    width: 78%;
    padding: 6px;
    outline: none;
	font-size: 100%;
	font-family: "Questrial", monospace;
  }
  
  input, label {
    display:flex;
	flex-direction:column;
}
  label {
    line-height: 1.65rem;
  }
  
  input[type="submit"] {
   transform: translate(2.2%);
   padding: 3px;
   width: 17.5%;
   margin-top: 1rem;
   font-family: Andale Mono, monospace;
   font-weight: bold;
   background-color: #ebdfea;
   box-shadow: 0.5px 1px;
   text-align: center;
   border-radius: 5px;
  }

 fieldset {
   padding: 20px 40px;
   background-color: #F2F3F4;
   box-shadow: 3px 6px;
   font-size: 10px;
   width: 100%;
   border-radius: 10px;
 }